@import "tailwindcss";

:root {
  --acme-background-color: #ffffff;
  --acme-foreground-color: #f2f2f2;
  --acme-primary-color: #6928f5;
  --acme-secondary-color: #7e67ba;
  --acme-tertiary-color: #d1d5db;
  --acme-accent-color: #4b5563;
  --acme-secondary-accent-color: #3d2871;
  --acme-tertiary-accent-color: #eeeeee;
}

[data-theme="dark"] {
  --acme-background-color: #19122d;
  --acme-foreground-color: #1f1635;
  --acme-primary-color: #9b6dfd;
  --acme-secondary-color: #977ee2;
  --acme-tertiary-color: transparent;
  --acme-accent-color: #c9c9c9;
  --acme-secondary-accent-color: #c5b7ea;
  --acme-tertiary-accent-color: #e3d8fd;
  --acme-border-color: #2f2650;
}

@theme {
  --breakpoint-*: initial;
  --color-background: var(--acme-background-color);
  --color-foreground: var(--acme-foreground-color);
  --color-primary: var(--acme-primary-color);
  --color-secondary: var(--acme-secondary-color);
  --color-accent: var(--acme-accent-color);
  --color-secondary-accent: var(--acme-secondary-accent-color);
  --color-tertiary-accent: var(--acme-tertiary-accent-color);
  --color-border: var(--acme-border-olor);
  --color-tertiary: var(--acme-tertiary-color);
}

@custom-variant xl (@media (max-width: 1440px));
@custom-variant lg (@media (max-width: 1200px));
@custom-variant md (@media (max-width: 992px));
@custom-variant sm (@media (max-width: 768px));
@custom-variant xs (@media (max-width: 576px));
@custom-variant 2xs (@media (max-width: 360px));

html {
  scroll-behavior: smooth;
}
