@import "tailwindcss";

:root {
  --acme-background-color: #f4f4f4;
  --acme-foreground-color: #f2f2f2;
  --acme-primary-color: #6928f5;
  --acme-secondary-color: #7e67ba;
  --acme-accent-color: #4e4e4e;
  --acme-secondary-accent-color: #3d2871;
  --acme-border-color: #949ca3;
}

[data-theme="dark"] {
  --acme-background-color: #3f2475;
  --acme-foreground-color: red;
  --acme-primary-color: red;
  --acme-secondary-color: red;
  --acme-accent-color: red;
  --acme-secondary-accent-color: red;
  --acme-border-color: red;
}

@theme {
  --breakpoint-*: initial;
  --color-background: var(--acme-background-color);
  --color-foreground: var(--acme-foreground-color);
  --color-primary: var(--acme-primary-color);
  --color-secondary: var(--acme-secondary-color);
  --color-accent: var(--acme-accent-color);
  --color-secondary-accent: var(--acme-secondary-accent-color);
  --color-border: var(--acme-border-olor);
}

@custom-variant xl (@media (max-width: 1440px));
@custom-variant lg (@media (max-width: 1200px));
@custom-variant md (@media (max-width: 992px));
@custom-variant sm (@media (max-width: 768px));
@custom-variant xs (@media (max-width: 576px));
@custom-variant 2xs (@media (max-width: 360px));

